html {
    font-size: 62.5%;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside nav ul {
    display: flex;
}

aside nav ul li {
    list-style-type:none;
    margin-left: 10rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
}

button {
    border: none;
    padding: 1rem 4rem;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
}